

.service-first-section{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    position: relative;
}

.service-wrapper{
    width: 100%;
    max-width: 1140px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorful-head{
    background-image: linear-gradient(270deg,#69faa8,#001220);
    font-size: 70px;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;

}
.service-first-svg{
    position: absolute;
    z-index: -1;
    bottom: 0;
}